body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

body {
padding: 10px;
background-color: black;
}

html {
  text-align: center;
  color: white;
}

nav {  
display: flex;
justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
color: orange;
}

h1, h2 {
  color: orange;
  font-family: 'Tilt Prism', cursive;
}
