body {
  max-width: 320px;
  margin: auto;
  padding: 10px;
  background-color: black;
  background-image: url(../img/image-de-fond.jpg);
  font-family: 'Labrada', serif;
  font-weight: 100;
}

img {
  display: block;
  max-width: 100%;
}

html {
  text-align: center;
  color: white;
}

nav {  
display: flex;
justify-content: space-between;

}

a {
  text-decoration: none;
  color: white;
  font-family: 'Tilt Prism', cursive;
  font-size: small;
  
}

a:hover {
color: orange;
}

h1, h2 {
  color: orange;
  font-family: 'Tilt Prism', cursive;
  font-weight: 100;
}

button {
  background-color: black;
  background-image: url(../img/button-border.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}
