body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}

body {
padding: 10px;
background-color: black;
}

html {
  text-align: center;
  color: white;
}

nav {  
display: flex;
justify-content: space-between;
}